/* Ain't no way you can use CSS with JavaFX */

/*
 * TYPE SCALE:
 * 1.2 minor second
 *
 * small:       14px
 * body:        16px
 * large:       19.2px
 * xlarge:      23.04px
 * xxlarge:     27.65px
 * xxxlarge:    33.18px
 */

.root {
    -fx-font-family: 'Inter Medium', sans-serif;
}

.h1 {
    -fx-font-size: 27.65px;
    -fx-font-family: 'Inter Bold', sans-serif;
}

.h2 {
    -fx-font-size: 23.04px;
    -fx-font-family: 'Inter Bold', sans-serif;
}

.h3 {
    -fx-font-size: 19.2px;
    -fx-font-family: 'Inter Bold', sans-serif;
}

.body {
    -fx-font-size: 16px;
    -fx-font-family: 'Inter Medium', sans-serif;
}

.button {
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-font-family: 'Inter Medium', sans-serif;
}

.button-reset {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.primary-btn-label {
    -fx-text-fill: #FAF9FB; 
    -fx-font-size: 16px; 
    -fx-background-color: #A26CE6;
}

.secondary-btn-label {
    -fx-text-fill: #A26CE6; 
    -fx-font-size: 16px; 
    -fx-border-style: solid none solid none;
    -fx-border-color: #A26CE6;
    -fx-border-width: 2;
}

.text-button:hover {
    -fx-text-fill: #A26CE6;
}

.game-menu {
    -fx-border-color: rgb(180, 180, 180);
    -fx-border-width: 0 0 2 0;
}

.small {
    -fx-font-size: 14px;
    -fx-font-family: 'Inter Regular', sans-serif;
    -fx-text-fill: #626262;
}

.level-card {
    -fx-border-color: linear-gradient(to bottom right, #696969, #000000);
    -fx-border-width: 4;
    -fx-border-radius: 8;
    -fx-font-size: 27.65px;
    -fx-font-family: 'Inter Bold', sans-serif;
}

.completed {
    -fx-text-fill: #2db02b;
    -fx-border-color: linear-gradient(to bottom right, #38D23E, #208C25);
}

.locked {
    -fx-border-color: linear-gradient(to bottom right, #B4B4B4, #9F9F9F);
}